#blog-adder {
  font-family: "FiraGO";
  padding: 50px 70px 250px 70px;
  border-top: 1px solid #e4e3eb;
  position: relative;

  .back-arrow {
    position: absolute;
    &:hover {
      cursor: pointer;
    }
  }

  .blog-adder-content {
    // padding: 0px 575px;
    padding: 0 50px;

    h1 {
      font-size: 2.3em;
      color: #1a1a1f;
      line-height: 40px;
      font-weight: 700;
      margin-bottom: 60px;
    }

    .blog-form {
      display: flex;
      flex-direction: column;
      gap: 50px;

      .img-uploader-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        &:hover {
          cursor: pointer;
        }

        .image-uploader {
          background-color: #e5e7eb;
          border: 1.5px dashed #85858d;
          border-radius: 12px;
          display: flex;
          flex-direction: column;
          padding: 80px 100px;
          gap: 30px;

          img {
            align-self: center;
          }

          .image-texts {
            display: flex;
            justify-content: center;
            gap: 5px;

            p {
              text-decoration: underline;
              cursor: pointer;
              font-weight: 700;
            }

            img {
              cursor: pointer;
            }
          }
        }
      }

      .author-title-container,
      .date-category-container {
        display: flex;
        justify-content: space-between;
        gap: 30px;
      }

      .container {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: hidden;

        label {
          display: flex;
          gap: 5px;
          font-size: 0.9em;
          color: #1a1a1f;
          font-weight: 600;
        }

        input,
        textarea,
        .select-container {
          padding: 15px 10px;
          font-family: inherit;
          border-radius: 12px;
          outline: none;
          border: 1px solid #e4e3eb;
          color: #85858d;
          background-color: #fcfcfd;
        }

        .validation-container {
          display: flex;
          align-items: center;
          gap: 8px;
        }

        .validation-before {
          width: 0.5em;
          height: 0.5em;
          border-radius: 50%;
          display: block;
          background-color: #85858d;
        }

        li {
          list-style-type: none;
          color: #85858d;
        }

        .select-container {
          display: grid;
          grid-template-columns: auto;

          .selected-category {
            display: flex;
            gap: 5px;
            border-radius: 30px;
            padding: 5px;

            .category-container {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 8px 12px;
              border-radius: 30px;
              gap: 7px;

              p {
                text-align: center;
              }

              img {
                cursor: pointer;
              }
            }
          }

          select {
            background-color: #fcfcfd;
            border: none;
            outline: none;
            width: 100%;
            cursor: pointer;
          }
        }
      }

      .email-container {
        align-self: start;
        width: calc(50% - 15px);
      }

      .add-blog-btn {
        align-self: end;
        font-family: "FiraGO";
        font-size: 0.9em;
        width: calc(50% - 15px);
        line-height: 20px;
        color: #f8fafc;
        padding: 15px 10px;
        background-color: #e4e3eb;
        border: none;
        border-radius: 8px;
        transition-duration: 0.5s;
        cursor: pointer;
        &:hover {
          background-color: #5d37f3;
        }
      }
    }
  }
}
