#blog-adder {
  font-family: "FiraGO";
  padding: 50px 70px 250px 70px;
  border-top: 1px solid #e4e3eb;
  position: relative;

  .back-arrow {
    position: absolute;
    &:hover {
      cursor: pointer;
    }
  }

  .blog-adder-content {
    // padding: 0px 575px;
    padding: 0 50px;

    h1 {
      font-size: 2.3em;
      color: #1a1a1f;
      line-height: 40px;
      font-weight: 700;
      margin-bottom: 60px;
    }

    .blog-form {
      display: flex;
      flex-direction: column;
      gap: 50px;

      .img-uploader-container {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .image-uploader {
          background-color: #e5e7eb;
          border: 1.5px dashed #85858d;
          border-radius: 12px;
          display: flex;
          flex-direction: column;
          padding: 80px 100px;
          gap: 30px;

          img {
            align-self: center;
          }

          .image-texts {
            display: flex;
            justify-content: center;
            gap: 5px;

            label {
              text-decoration: underline;
              cursor: pointer;
              font-weight: 700;
            }

            img {
              cursor: pointer;
            }
          }
        }
      }

      .author-title-container,
      .date-category-container {
        display: flex;
        justify-content: space-between;
        gap: 30px;
      }

      .author-container,
      .title-container,
      .description-container,
      .date-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
          display: flex;
          gap: 5px;
          font-size: 0.9em;
          color: #1a1a1f;
          font-weight: 600;
        }

        input,
        textarea {
          padding: 15px 10px;
          font-family: inherit;
          border-radius: 12px;
          outline: none;
          border: 1px solid #e4e3eb;
          color: #85858d;
        }

        .validation-container {
          display: flex;
          align-items: center;
          gap: 8px;
        }

        .validation-before {
          width: 0.5em;
          height: 0.5em;
          border-radius: 50%;
          display: block;
          background-color: #85858d;
        }

        li {
          list-style-type: none;
          color: #85858d;
        }
      }

      .add-blog-btn {
        align-self: start;
      }
    }
  }
}
