#blog {
  font-family: "FiraGO";
  position: relative;
  background: #f3f2fa;
  min-height: 100vh;
  padding: 40px 0px 400px 0px;

  .back-arrow {
    position: absolute;
    cursor: pointer;
    margin-left: 76px;
  }

  .blog-content {
    width: 720px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;

    img {
      height: 328px;
    }

    .blog-info {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .wrapper-div {
        display: flex;
        flex-direction: column;
        gap: 8px;

        h2 {
          color: #1a1a1f;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
        }

        p {
          color: #85858d;
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
        }
      }

      h1 {
        color: #1a1a1f;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
      }

      .categories {
        display: flex;
        gap: 16px;

        .category {
          border-radius: 30px;
          padding: 6px 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          font-weight: 500;
          line-height: 16px;
        }
      }

      .description-para {
        color: #404049;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
      }
    }
  }

  .slider-container {
    padding: 100px 76px;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    gap: 50px;

    .upper {
      display: flex;
      justify-content: space-between;

      h1 {
        color: #1a1a1f;
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
      }

      .prev {
        margin-right: 20px;

        rect {
          cursor: pointer;
          &:hover {
            fill: #5d37f3;
          }
        }
      }

      .next {
        rect {
          cursor: pointer;
          &:hover {
            fill: #5d37f3;
          }
        }
      }
    }

    .lower {
      margin: auto;

      .slider {
        display: flex;
        gap: 32px;
        overflow-x: scroll;

        .slide {
          width: 408px;

          img {
            width: 408px;
            height: 328px;
            border-radius: 12px;
            margin-bottom: 24px;
          }

          .info {
            display: flex;
            flex-direction: column;
            gap: 16px;

            h2 {
              color: #1a1a1f;
              font-size: 16px;
              font-weight: 500;
              line-height: 20px;
            }

            p {
              color: #85858d;
              font-size: 12px;
              font-weight: 400;
              line-height: 16px;
            }

            h1 {
              color: #1a1a1f;
              font-size: 20px;
              font-weight: 500;
              line-height: 28px;
            }

            .categories {
              display: flex;
              overflow-x: scroll;
              gap: 16px;
              height: 50px;

              .category {
                display: flex;
                padding: 6px 10px;
                align-items: center;
                gap: 10px;
                justify-content: center;
                border-radius: 30px;

                p {
                  text-align: center;
                  font-size: 12px;
                  font-weight: 500;
                  line-height: 16px;
                }
              }
            }

            h4 {
              color: #404049;
              font-size: 16px;
              font-weight: 400;
              line-height: 28px;
              height: 3.5em;
              overflow: hidden;
            }

            .expand-blog {
              display: flex;
              gap: 5px;

              .text1 {
                color: #5d37f3;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
              }

              .expand1-img {
                width: 20px;
                height: 20px;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}
