#blog-adder {
  font-family: "FiraGO";
  padding: 40px 76px 110px 76px;
  border-top: 1px solid #e4e3eb;
  position: relative;

  .back-arrow {
    position: absolute;
    cursor: pointer;
  }

  .blog-adder-content {
    width: 600px;
    margin-left: 480px;

    h1 {
      font-size: 2.3em;
      color: #1a1a1f;
      line-height: 40px;
      font-weight: 700;
    }

    .blog-form {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin: 40px 0px;

      .img-uploader-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
        &:hover {
          cursor: pointer;
        }

        .image-uploader {
          border-radius: 12px;
          border: 1px dashed #85858d;
          background: #f4f3ff;
          border: 1.5px dashed #85858d;
          display: flex;
          flex-direction: column;
          padding: 48px 165px;
          gap: 30px;

          img {
            align-self: center;
          }

          .image-texts {
            display: flex;
            justify-content: center;
            gap: 5px;

            span,
            p {
              color: #1a1a1f;
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;
            }

            p {
              text-decoration: underline;
              cursor: pointer;
              font-weight: 600;
            }

            img {
              cursor: pointer;
            }
          }
        }
      }

      .author-title-container,
      .date-category-container {
        display: flex;
        justify-content: space-between;
        gap: 30px;
      }

      .container {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: hidden;

        label {
          display: flex;
          gap: 5px;
          color: #1a1a1f;
          font-weight: 600;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
        }

        input,
        textarea,
        .select-container {
          padding: 12px 16px;
          font-family: inherit;
          border-radius: 12px;
          outline: none;
          border: 1px solid #e4e3eb;
          color: #85858d;
          background-color: #fcfcfd;
        }

        .validation-container {
          display: flex;
          align-items: center;
          gap: 8px;
        }

        .validation-before {
          width: 0.5em;
          height: 0.5em;
          border-radius: 50%;
          display: block;
          background-color: #85858d;
        }

        li {
          list-style-type: none;
          color: #85858d;
          color: #85858d;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
        }

        .select-container {
          display: grid;
          grid-template-columns: auto;

          .selected-category {
            display: flex;
            gap: 5px;
            border-radius: 30px;
            padding: 5px;

            .category-container {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 8px 12px;
              border-radius: 30px;
              gap: 7px;

              p {
                text-align: center;
              }

              img {
                cursor: pointer;
              }
            }
          }

          select {
            background-color: #fcfcfd;
            border: none;
            outline: none;
            width: 100%;
            cursor: pointer;
          }
        }
      }

      .email-container {
        align-self: start;
        width: calc(50% - 15px);
      }
    }
    .add-blog-btn {
      float: right;
      font-family: inherit;
      font-size: 0.9em;
      width: calc(50% - 15px);
      line-height: 20px;
      color: #f8fafc;
      padding: 15px 10px;
      background-color: #e4e3eb;
      border: none;
      border-radius: 8px;
      transition-duration: 0.5s;
      cursor: pointer;
      &:hover {
        background-color: #5d37f3;
      }
    }
  }
}
