#header-div {
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 100px;
    background-color: #f8fafc;

    button {
      font-family: "FiraGO";
      font-size: 0.9em;
      line-height: 20px;
      color: #f8fafc;
      padding: 10px 20px;
      background-color: #5d37f3;
      border: none;
      border-radius: 8px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
