#main-div {
  .main-content {
    display: flex;
    flex-direction: column;
    gap: 70px;

    .main-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-image: linear-gradient(to right, #f1f5f9, #e2e8f0);
      padding: 70px 90px 0px 120px;

      h1 {
        font-family: inherit;
        font-size: 4.8em;
        color: #1a1a1f;
      }
    }
  }

  .categories-container {
    padding: 30px 300px;
    display: grid;
    grid-template-columns: repeat(7, minmax(100px, 1fr));
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;

    .category {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px 8px;
      border-radius: 30px;
      &:hover {
        cursor: pointer;
        scale: 1.05;
        transition-duration: 0.3s;
      }

      p {
        font-family: "FiraGO";
        text-align: center;
        color: black !important;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
          overflow: visible;
        }
      }
    }
  }
}
