#main-div {
  display: flex;
  flex-direction: column;
  gap: 70px;
  font-family: "FiraGO";

  .selected {
    border: 1px solid #000;
  }

  .main-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 90px 0px 120px;

    h1 {
      font-family: inherit;
      font-size: 4.8em;
      color: #1a1a1f;
    }
  }

  .categories-container {
    padding: 30px 300px;
    display: grid;
    grid-template-columns: repeat(7, minmax(100px, 1fr));
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;

    .category {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px 8px;
      border-radius: 30px;
      &:hover {
        cursor: pointer;
        scale: 1.05;
        transition-duration: 0.3s;
      }

      p {
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
          overflow: visible;
        }
      }
    }
  }

  .blogs-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 32px;
    row-gap: 56px;
    margin: auto;

    .blog-container {
      width: 408px;
      justify-self: center;

      img {
        width: 100%;
        height: 328px;
        border-radius: 12px;
      }

      .blog-content {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
        gap: 16px;

        h2 {
          color: #1a1a1f;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
        }

        p {
          color: #85858d;
          font-size: 12px;
          font-weight: 400;
        }

        h1 {
          color: #1a1a1f;
          font-size: 20px;
          font-weight: 500;
          line-height: 28px;
        }

        .main-categories {
          display: flex;
          gap: 16px;
          overflow-x: scroll;
          height: 40px;

          .main-category {
            padding: 6px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            border-radius: 30px;
            text-align: center;
          }
        }

        .description {
          color: #404049;
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;
          height: 3.5em;
          overflow: hidden;
        }

        .expand-blog {
          display: flex;
          cursor: pointer;

          p {
            color: #5d37f3;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
          }

          img {
            height: 20px;
            width: auto;
          }
        }
      }
    }
  }
}
