@use "/src/styles/header.scss";
@use "/src/styles/main.scss";
@use "/src/styles/loginModal.scss";
@use "/src/styles/blogAdder.scss";

@font-face {
  font-family: "FiraGO";
  src: url("/src/assets/fonts/FiraGO/FiraGO-Regular.otf");
}

$body-color: #f1f5f9;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

body {
  background-color: $body-color;
  min-height: 100vh;
}
